*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для шапки */
header {
  display: flex;
  background-color: #333;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.logo h1 {
  font-size: 24px;
  color: lawngreen;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
  padding-left: 50px;
}
nav ul li {
  display: inline-block;
  margin-right: 15px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: lawngreen;
}

.menu-button {
  font-size: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 9px;
  padding-left: 50px;
}

.menu-shape {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.menu-shape span {
  color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  margin-bottom: 5px;
}

.dropdown-menu ul li a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu ul li a:hover {
  color: #fff;
  background-color: #333;
}

.button_contact{
  padding-left: 50px;
}
.contact{
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.contact span a{
  color: lawngreen;
  font-weight: bold;
}

.Page1{
  background-image: url("images/slide2.jpg");
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_page h2{
  font-size: 50px;
  color: white;
}
.main_page p{
  text-align: center;
  font-size: 30px;
  color: white;
}

.text {
  height: 200px;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-style:solid;
  border-bottom-style:solid;
  margin: 100px;
}
.text p {
  text-align: center;
  font-size: 20px;
}

.reviews_1{
  height: 200px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews_1 h2::after{
  content:"";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 10px
}

.photo{
  background-color: beige;
}
.one img{
  margin-left: 50px;
  width: 1000px;
}
.two img{
  margin-top: 50px;
  margin-left: 50px;
  width: 1000px
}
.three img{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 700px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline-block;
  margin-right: 10px;
}
footer ul li a {
  color: #fff;
}
.contacts{
  padding-top: 15px;
}
